<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpperServlet</display-name>
    <servlet-name>UpperServlet</servlet-name>
    <servlet-class>UpperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpperServlet</servlet-name>
    <url-pattern>/UpperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableOfNumber</display-name>
    <servlet-name>TableOfNumber</servlet-name>
    <servlet-class>TableOfNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableOfNumber</servlet-name>
    <url-pattern>/TableOfNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TryServlet</display-name>
    <servlet-name>TryServlet</servlet-name>
    <servlet-class>TryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryServlet</servlet-name>
    <url-pattern>/TryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactorServlet</display-name>
    <servlet-name>FactorServlet</servlet-name>
    <servlet-class>FactorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorServlet</servlet-name>
    <url-pattern>/FactorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReverseServlet</display-name>
    <servlet-name>ReverseServlet</servlet-name>
    <servlet-class>ReverseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReverseServlet</servlet-name>
    <url-pattern>/ReverseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayIServlet</display-name>
    <servlet-name>DisplayIServlet</servlet-name>
    <servlet-class>DisplayIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayIServlet</servlet-name>
    <url-pattern>/DisplayIServlet</url-pattern>
  </servlet-mapping>
</web-app>